spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${DB_URL}
    username: ${DB_USER}
  jpa:
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher


jwt:
  secret: ${JWT_SECRET}

## JPQL when 사용해서 caseQuery 생성해서 구현하자. querydsl 강의 1부 42분 / orderBy(~.desc()) => 내림차순

